// COLORS

$color-white: #fff;
$color-fade-1: #048abf;
$color-fade-2: #05dbf2;
$link-hover: #05c7f2;
$color-primary: #fcfcfc;
$color-black: #000;
$color-background: #1d1d1d;
$footer-gif: #171717;
$nav-gray: #666666;
$green: #32c48d;

// Footer contact
$g-mail: #d92525;
$facebook: #1374f2;
$linkedin: #0367a6;
$github: #7162d9;

// FONT
